html {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 60px;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
}

nav ul li a {
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}
nav ul li a:hover {
    color: #000;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: 000;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 1em;
    font-weight: 300;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 1em;
}

#hero img {
    max-width: 130% !important;
    width: 120%;
}

#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}

#hero .icon {
    width: 3em;
    height: 3em;
    margin-bottom: 20px;
}

#portfolio .portfolio {
    margin-bottom: 50px;
}

#contact {
    text-align: center;
    background-color: white;
}

#contact h1 {
    text-align: center;
    color: #000;
}

#ourportfolio {
    text-align: center;
    background-color: white;
}

#ourportfolio h1 {
    text-align: center;
    color: #000;
}

#about {
    margin-top: auto;
}

#resume {
    margin-top: -2em;
}

#contact {
    margin-top: 5em;
}

#ourportfolio {
    margin-top: 5em;
}

/* Footer CSS */
.site-footer {
    background-color:#26272b;
    padding-top:20px;
    font-size:14px;
    line-height:1.5em;
    color:#737373;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5;
}

.site-footer hr.small {
    margin:20px 0;
}

.site-footer h5 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer h6 {
    font-size:14px;
    margin-top:5px;
    letter-spacing:1px
}

.site-footer a {
    color:#737373;
}

.site-footer a:hover {
    color:#fff;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#fff;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}

.copyright-text
{
    margin:0
}

.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px;
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:2em;
    display:contents;
    line-height:1.5em;
    width:3em;
    height:3em;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
}
.social-icons.size-sm a
{
    line-height:1.5em;
    height:2em;
    width:2em;
    font-size:2em;
}

.site-footer [class^=col-]{
        margin-bottom:30px
    }
#credits {
    font-size: 10px;
}

/* Portfolio Grid*/
* {
  box-sizing: border-box;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#pcards {
    display:block;
}

#ourportfolio {
    margin-top: 1em;
    margin-bottom: -5em;
}





















